body, header, div, ul, li {
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  box-sizing: border-box;
}

#my-button {
  background: #016fc4;
  color: #fff;
  margin: auto;
  border: none;
  height: 60px;
  font-size: 32px;
  font-weight: 300px !important;
  position: relative;
  top: 150px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  transition: opacity 1s;
}

#nav-bar {
  background: #fff;
  margin-top: 0;
  color: #000;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px -1px 6px #888888;
  display: none;
}

#nav-bar > h1 {
  height: 60px;
  font-weight: 300;
  position: relative;
  left: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #fff;
  user-select: none;
  cursor: help;
}

#nav-bar > h1:hover {
    border-bottom: 3px solid #016fc4;
}

canvas {
  width: 100%;
  height: 100%;
  display: none;
}
